<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img class="navImg"
    src="https://lh3.googleusercontent.com/UB4ASNIZMs41S3-twDINnXtDCs5W-MdnYZbxZDzYSCgzkdf3fWy52ctBLL1MH0YKGlVypkP2V294EdfgX3--YhwhHCLFIyG3a3j5oW4yij2CA3y31CTyLneB2JO3Lhpaf1BrU6U9cHs=w2400"
    alt="logo">IM Incident</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" aria-current="page" routerLink="/home"><i class="fas fa-laptop house"></i>Home</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" aria-current="page" routerLink="/about"><i class="fas fa-info-circle"></i>About</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" aria-current="page" routerLink="/services"><i class="fas fa-cogs"></i>Services</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" aria-current="page" routerLink="/products"><i class="fab fa-elementor"></i>Products</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" aria-current="page" routerLink="/incidents"><i class="fas fa-book"></i>Incident
          List</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" aria-current="page" routerLink="/contact"><i class="fas fa-mobile-alt"></i>Contact</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item ml-5" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link active text-warning" aria-current="page" routerLink="/admin/main/incidents"><i
            class="fas fa-lg fa-user-shield"></i>Admin</a>
      </li>
      <li *ngIf="isLoggedIn()" class="navbar-text text-success ml-5 mr-5 d-none d-lg-inline">
        <i class="fas fa-lg fa-user"></i>Welcome, {{user.displayName}}
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a (click)="onLogoutClick()" routerLink="./logout" class="nav-link active" aria-current="page"
          routerLink="/login"><i class="fas fa-lg fa-sign-out-alt"></i>Logout</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/login"><i
            class="fas fa-lg fa-sign-in-alt"></i>Login</a>
      </li>

      <!-- <li class="navbar-text">
        <app-cart-summary></app-cart-summary>
      </li> -->
    </ul>

  </div>
</nav>