<!-- <app-base-page></app-base-page> -->

<div class="innerdiv">
    <form ngNoForm method="get">
        <fieldset>
            <legend>Contact Us</legend>
            <label for="fname">First Name: &nbsp;&nbsp;</label>
            <!-- <br> -->
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <br>
            <label for="lname">Last Name:&nbsp;&nbsp;</label>
            <!-- <br> -->
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <br>
            <label for="contact">Contact Number:&nbsp;&nbsp;</label>
            <!-- <br> -->
            <input type="text" id="contact" name="contact" placeholder="Your contact number..">
            <br>
            <label for="email">Email:&nbsp;&nbsp;</label>
            <!-- <br> -->
            <input type="text" id="email" name="email" placeholder="Your email..">
            <br>
            <label for="message">Message:</label>
            <br>
            <textarea id="message" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <br><br>
            <button (click)="alert()">Submit</button>
        </fieldset>
    </form>
</div>